.striked {
    text-decoration: line-through;
    color: #999999;
}

#content {
    margin-top: 90px;
}

.inline > li {
    vertical-align: top;
    margin-left: 30px;
    margin-right: 30px;
}

.todo-edit-button {
    display: block;
    position: absolute;
}
