{% extends "rest_framework/base.html" %}

{% block title %}
    Todo Management
{% endblock %}

{% block branding %}
    <a class='brand' href='{% url 'web:index' %}'>Todo management</span></a>
{% endblock %}

{% block userlinks %}
    <form method="post" action="{% url 'rest_framework:logout' %}">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Logout</button>
    </form>
{% endblock %}

{% block content %}
    <ul class="unstyled todos">
    {% for todo in todos %}
        <li>
            <form method="post" action="{% url 'todo-completed' todo.id %}">
                {% csrf_token %}
                <label class="checkbox">
                    <input type="checkbox" id="checkbox{{ todo.id }}" {% if todo.completed %}checked{% endif %}> {{ todo.title }}
                </label>
                <input type="hidden" name="next" value="{% url 'web:index' %}">
                <button class="btn btn-mini btn-success" type="submit" id="completedButton{{ todo.id }}">completed</button>
                <script type="text/javascript">
                    var completedButton = document.getElementById('completedButton{{ todo.id }}');
                    completedButton.parentNode.removeChild(completedButton);
                </script>
            </form>
        </li>
    {% endfor %}
    </ul>

    <form method="post" action="{% url 'web:create' %}">
        {% csrf_token %}
        <fieldset>
            <legend>Add</legend>
            <label>todo</label>
            <input type="text" placeholder="Type something..." name="title" required>
            <span class="help-block">remember the milk</span>
            <button type="submit" class="btn">add</button>
        </fieldset>
    </form>
{% endblock %}
