{% extends "rest_framework/base.html" %}

{% block title %}
    Todo Management
{% endblock %}

{% block branding %}
    <a class='brand' href='{% url 'web:index' %}'>Todo management</span></a>
{% endblock %}

{% block userlinks %}
    <form method="post" action="{% url 'rest_framework:logout' %}">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Logout</button>
    </form>
{% endblock %}

{% block content %}
    <button type="button" class="btn btn-warning pull-right" id="archive-button">Archive completed <i class="icon-trash icon-white"></i></button>

    {% regroup todos by due_date|date:"m/d/Y" as todo_list %}

    <ul class="todos unstyled inline">
    {% for due_date in todo_list %}
        <li><h3>{{ due_date.grouper|default:"No date" }}</h3>
        <ul class="unstyled">
            {% for todo in due_date.list|dictsortreversed:"priority" %}
                {% include 'rest_framework/todo.html' %}
            {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>

    <form method="post" action="{% url 'web:create_update' %}" id="add-todo">
        {% csrf_token %}
        <fieldset>
            <legend>Add</legend>
            <label>todo</label>
            <input type="hidden" name="todo_id" id="todo-id" value="{{ todo_id|default:'' }}">
            <input type="text" placeholder="Type something..." name="title" id="todo-string" value="{{ todo_string|default:'' }}" {% if todo_string %}autofocus{% endif %} required>
            <span class="help-block">remember the milk <abbr title="^{% now 'm/d/Y' %} or ^tomorrow">^optional date</abbr> [add ! for high priority]</span>
            <button type="submit" class="btn"><i class="icon-plus"></i> add</button>
        </fieldset>
    </form>
{% endblock %}
