{% load url from future %}
{% load rest_framework %}
<!DOCTYPE html>
<html>
    <head>
    {% block head %}

        {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
        {% endblock %}

        <title>{% block title %}Django REST framework{% endblock %}</title>

        {% block style %}
        {% block bootstrap_theme %}
            <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap-tweaks.css" %}"/>
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
        {% endblock %}

        {% block todo_mustache %}
            {% include 'rest_framework/todo_mustache.html' %}
        {% endblock %}

    {% endblock %}
    </head>

  <body class="{% block bodyclass %}{% endblock %} container">

    <div class="wrapper">

    {% block navbar %}
    <div class="navbar {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}">
        <div class="navbar-inner">
            <div class="container-fluid">
                <span href="/">
                    {% block branding %}<a class='brand' href='http://django-rest-framework.org'>Django REST framework <span class="version">{{ version }}</span></a>{% endblock %}
                </span>
                <ul class="nav pull-right">
                    {% block userlinks %}
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {{ user }}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>{% optional_logout request %}</li>
                                </ul>
                            </li>
                        {% else %}
                            <li>{% optional_login request %}</li>
                        {% endif %}
                    {% endblock %}
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}

    <!-- Content -->
    <div id="content">

        {% block content %}{% endblock %}

    </div>
    <!-- END Content -->

        <div id="push"></div>

    </div>

    </div><!-- ./wrapper -->

    {% block footer %}
    <!--<div id="footer">
        <a class="powered-by" href='http://django-rest-framework.org'>Django REST framework</a>
    </div>-->
    {% endblock %}

    {% block script %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
    <script src="{% static "rest_framework/js/default.js" %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
    <script src="{% static 'js/initAjax.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock %}
  </body>
</html>
